<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout::head">
    <meta charset="UTF-8">
    <title th:text="#{delete_customer.title}"></title>
</head>
<body>
<h1 th:text="#{delete_customer.heading}"></h1>
<h2 th:text="#{delete_customer.sure}"></h2>
LLanguage: <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>
<p>
    <a href="/customers" th:text="#{create_customer.list}"></a>
</p>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="customers">
        <tr>
            <td th:text="#{create_customer.firstname}"></td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{create_customer.lastname}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete_customer.submit}"></td>
        </tr>
    </table>
</form>
<footer th:replace="/customer/layout :: footer"></footer>
</body>
</html>