<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/province/layout::head">
    <meta charset="UTF-8">
    <title th:text="#{delete_province.title}"></title>
</head>
<body>
<h1 th:text="#{delete_province.heading}"></h1>
<h2 th:text="#{delete_province.sure}"></h2>
Language: <a href="?lang=en">English</a> | <a href="?lang=vn">Vietnamese</a>
<p>
    <a href="/provinces" th:text="#{create_province.list}"></a>
</p>
<form th:action="@{/delete-province}" th:object="${province}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table id="provinces">
        <tr>
            <td th:text="#{create_province.name}"></td>
            <td th:text="${province.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete_province.submit}"></td>
        </tr>
    </table>
</form>
<footer th:replace="/province/layout :: footer"></footer>
</body>
</html>